#root .Tickets > .New.inactive {
  display: flex ;
  justify-content: center ;
  padding-top: 10px ;
}

#root .Tickets > .New.active {
  margin-top: 10px ;
  background-color: #fefefe ;
  padding: 10px ;
}

#root .Tickets > .New.active .input,
#root .Tickets > .New.active .button,
#root .Tickets > .New.active .field > textarea {
  width: 100% ;
}

#root .Tickets > .New.active .field > textarea {
  margin-top: 10px ;
  resize: vertical ;
  padding: 1em ;
}

#root .Tickets > .New.active .button {
  margin-top: 10px ;
}
