.Ticket {
  width: 435px !important;
  background-color: #fefefe !important;
  padding: 10px !important;
  box-shadow: 0 1px 2px rgba(34, 36, 38, 0.15) !important;
  border-radius: 0.5em !important;
  margin-top: 5px !important;
}
