#root .Board {
  height: -webkit-fill-available ;
  display: flex ;
  flex-direction: column ;
}

#root .Columns {
  overflow-x: auto ;
  height: -webkit-fill-available ;
  display: flex ;
  padding-left: 5px ;
  padding-right: 5px ;
  min-width: 100% ;
  float: left ;
}
