#root .Column {
  min-width: min(460px, 80%);
  flex: 0 0;
  display: Flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ededed;
  box-shadow: 2px 2px 1px rgba(34, 36, 38, 0.15);
  border-radius: 0.5em;
}

#root .Column .ui.input {
  flex-grow: 1;
}

#root .Column .Title {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#root .Column .Title input {
  flex-grow: 1;
  padding-right: 8px;
}

#root .Tickets {
  overflow-y: scroll;
  height: -webkit-fill-available;
  padding-left: 10px;
  padding-right: 5px;
}
