.Columns > .New {
  min-width: min(20%, 120px) !important;
  flex: 0 0 !important;
  display: flex !important;
  flex-direction: column !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-bottom: 5px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background-color: #ededed !important;
  box-shadow: 0 1px 2px rgba(34, 36, 38, 0.15) !important;
  border-radius: 0.5em !important;
  cursor: pointer !important;
}

.Columns > .New.active {
  min-width: min(360px, 80%) !important;
  cursor: unset !important;
  flex: 1 0 !important;
}

.Columns > .New > div {
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin: auto !important;
}

.Columns > .New.active > div {
  margin: unset !important;
}

.Columns > .New.active .input,
.Columns > .New.active button {
  width: 100% !important;
}

.Columns > .New.active button {
  margin-top: 10px !important;
}
